<!DOCTYPE html>
<html>
    <head>
        {% load static %}
    
        <!--tipo de caracteres-->
        <meta charset="utf-8">
    
          <!--para que se ajuste el tamaño de la pantalla-->
        <meta name="viewport" content="width=device-width">
    
          <!--titulo de la pestaña del navegador-->
        <title>RoboWorld | Mi cuenta</title>
    
          <!--favicon (icono de la pestalla del navegador)-->
            <link rel="icon" type="image/svg+xml" href="{% static 'roboworld_app/img/fav.svg' %}" sizes="any">
    
          <!--para linkear con la libreria de jQuery en la pagina de google APIS-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
          <!--linkear con los scripts de JS-->
            <script src="{% static 'roboworld_app/js/script.js' %}"></script>
    
          <!--linkear los iconos-->
          <script src="https://kit.fontawesome.com/b8043ce943.js" crossorigin="anonymous"></script>
    
        <!--para linkear con la hoja de estilos-->
        <link href="{% static 'roboworld_app/css/style_home.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'roboworld_app/css/style_micuenta.css' %}" rel="stylesheet" type="text/css">
    </head>

    <body>
        <ul>
            {% if user.is_authenticated%}
            <!--header-->
    <header>
        <a class="logo" href="{% url 'inicio' %}"><img src="{% static 'roboworld_app/img/logo.png' %}" alt="roboworld logo"/></a>
        <nav>
          <ul class="nav-bar"><div class="bg"></div>
                      <li><a class="nav-link active" href="{% url 'inicio' %}">INICIO</a></li>
                      <li><a class="nav-link" href="{% url 'inicio' %}">COMO JUGAR</a></li>
                      <li><a class="nav-link" href="{% url 'inicio' %}">ESTADÍSTICAS</a></li>
                      <li><a class="nav-link" href="{% url 'cuenta_usuario' %}">MI CUENTA</a></li>
                  </ul>
          
          <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
        </nav>
      </header>
      
      <!--aquí comienza la pagina-->
      <main>
        <!--DASHBOARD-->
        <div id="home">
          <div class="box">
            <div class="box__header">
              <h3 class="box__header-title">{{user.get_username}}</h3>
              <div class="profilepic"><img src="{% static 'roboworld_app/img/profile.png' %}" width="70%"></div>
            </div>
            <div class="box__body">
              <div class="stats stats--main">
                <div class="stats__amount">{{minutos_info}}</div>
                <div class="stats__caption">minutos jugados</div>
              </div>
              
              <div class="stats">
                <div class="stats__amount">{{veces_info}}</div>
                <div class="stats__caption">Veces jugadas</div>
              </div>
              
              <div class="stats">
                <div class="stats__amount">{{engranes_info}}</div>
                <div class="stats__caption">Engranes totales</div>
              </div>
            </div>
            <h3 class="box__header-title" class="passreset-link"><a href="{% url 'password_change' %}?next=/">Cambiar contraseña</a></h3>
            <h3 class="box__header-title"><a href="{% url 'logout' %}?next=/">Cerrar sesión</a></h3>
          </div>
  
        </div>
        <!--DASHBOARD-->
      </main>
      
      <!--comienza el footer-->
      <footer class="copyright">
        <p><a href="https://github.com/grchristian/RoboWorld" target="_blank"><i class="fab fa-github"></i></a></p>
      </footer>
    </div>
    <!--el div de container (todo lo de la pagina)-->

            {%else%}
                <li><a href="{% url 'login'%}?next={{request.path}}">Iniciar sesión</a></li>
            {%endif%}
        </ul>
        
    </body>
</html>

