<!DOCTYPE html>
<html>
  <head>
    {% load static %}

    <!--tipo de caracteres-->
    <meta charset="utf-8">

    <!--para que se ajuste el tamaño de la pantalla-->
    <meta name="viewport" content="width=device-width">

    <!--titulo de la pestaña del navegador-->
    <title>RoboWorld | Iniciar sesión</title>

    <!--favicon (icono de la pestalla del navegador)-->
		<link rel="icon" type="image/svg+xml" href="{% static 'roboworld_app/img/fav.svg' %}" sizes="any">

	  <!--para linkear bootstrap-->
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    
    <!--para linkear con el CSS-->
    <link href="{% static 'roboworld_app/css/style_inicio_sesion.css' %}" rel="stylesheet" type="text/css">
  </head>
  
  <body>
    <div class="wrapper">
      <form class="form-signin">       
        <h2 class="form-signin-heading">Iniciar sesión</h2>
        <input type="text" class="form-control" name="username" placeholder="Email address" required="" autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="Password" required=""/>      
        
        <label class="checkbox">
          <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe">Recordarme
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        <br>
        <p>/* Si el usuario no habia iniciado sesión, se abrirá esta ventana y despues de iniciar sesión se regrasa a <a href="{% url 'inicio' %}">INICIO</a></p>
        <p>Si había sesión iniciada, se abre <a href="{% url 'micuenta' %}">MI CUENTA</a> */</p>
      </form>
    </div>
  </body>
  
</html>
