<head>
  {% load static %}

  <!--tipo de caracteres-->
  <meta charset="utf-8">

  <!--para que se ajuste el tamaño de la pantalla-->
  <meta name="viewport" content="width=device-width">

  <!--titulo de la pestaña del navegador-->
  <title>RoboWorld | Iniciar sesión</title>

  <!--favicon (icono de la pestalla del navegador)-->
  <link rel="icon" type="image/svg+xml" href="{% static 'roboworld_app/img/fav.svg' %}" sizes="any">

  <!--para linkear bootstrap-->
  <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
  
  <!--para linkear con el CSS-->
  <link href="{% static 'roboworld_app/css/style_inicio_sesion.css' %}" rel="stylesheet" type="text/css">
</head>


<div class="wrapper">
  <form class="form-signin" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <h2 class="form-signin-heading">Iniciar sesión</h2>
    
    {% if form.errors %}
      <h6>Tu usuario y contraseña no coinciden, por favor intenta de nuevo.<h6>
    {% endif %}

    <input type="text" class="form-control" name="username" placeholder="Usuario" required="" autofocus=""/>
    <input type="password" class="form-control" name="password" placeholder="Contraseña" required=""/>      
    
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Entrar</button>
    <input type="hidden" name="next" value="{{ next }}"/>


    <br>
    <p>/*<br>iniciar sesion con:<br>usuarioprueba<br>usuario123<br>*/</p>

    
  </form>
</div>