

<head>
    {% load static %}
  
    <!--tipo de caracteres-->
    <meta charset="utf-8">
  
    <!--para que se ajuste el tamaño de la pantalla-->
    <meta name="viewport" content="width=device-width">
  
    <!--titulo de la pestaña del navegador-->
    <title>RoboWorld | Iniciar sesión</title>
  
    <!--favicon (icono de la pestalla del navegador)-->
    <link rel="icon" type="image/svg+xml" href="{% static 'roboworld_app/img/fav.svg' %}" sizes="any">
  
    <!--para linkear bootstrap-->
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    
    <!--para linkear con el CSS-->
    <link href="{% static 'roboworld_app/css/style_inicio_sesion.css' %}" rel="stylesheet" type="text/css">
  </head>
  
  
  <div class="wrapper">
    {% block content %}
    <h2>Change password</h2>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Change">
    </form>
    
    <a href="{% url 'cuenta_usuario' %}">Back to dashboard</a>
    {% endblock %}
  </div>