<head>
    {% load static %}
    <!--tipo de caracteres-->
    <meta charset="utf-8">
    <!--para que se ajuste el tamaño de la pantalla-->
    <meta name="viewport" content="width=device-width">
    <!--titulo de la pestaña del navegador-->
    <title>RoboWorld | Cambiar contraseña</title>
    <!--favicon (icono de la pestalla del navegador)-->
    <link rel="icon" type="image/svg+xml" href="{% static 'roboworld_app/img/fav.svg' %}" sizes="any">
    <!--para linkear con el CSS-->
    <link href="{% static 'roboworld_app/css/password_change.css' %}" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'><link rel="stylesheet" href="./style.css">
  </head>
  
  
{% block content %}
    <h2>Change password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Change">
    </form>
    
    <a href="{% url 'cuenta_usuario' %}">Back to dashboard</a>


<!-- partial:index.partial.html -->
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-heading">
            <h2 class="text-center">User Password Change</h2>
        </div>
        <hr />
        <div class="modal-body">
            <form role="form" action="/RESET/UpdateUser" id="ConfigureUser" method="post">
      <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input type="password" class="form-control" placeholder="User Name" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input type="password" class="form-control" placeholder="User Name" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input type="password" class="form-control" placeholder="Password" />
        </div>

                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success btn-lg">Login</button>
                    </div>
  </form>
        </div>
    </div>
</div>
<!-- partial -->
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>

{% endblock %}


