<html>
    <head>
        {% load static%}
        <link href={% static 'estilo.css' %} rel='stylesheet'/>
    </head>
    <body>
        <ul>
            {% if user.is_authenticated%}
            <li>User: {{user.get_username}}</li>
            <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
            <h1>Esta es la lista de jugadores registrados</h1>
        <ul>
            {% for j in lista_jugadores %}
            <li>{{j.nombre}} ha jugado {{j.minutos_jugados}}</li>
            {%  endfor %}
        </ul>
            {%else%}
            <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
            {%endif%}
        </ul>
        
    </body>
</html>